<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn">
      <h3>Please login first</h3>
    </div>

    <small *ngIf="!loginService.passwordCheck" class="text-danger">Phone or password is incorrect </small>

    <!-- Login Form -->
    <form #formValue="ngForm" (ngSubmit)="login(formValue)" [formGroup]="loginForm">
      <div class="form-group">
        <input type="text" [class.is-invalid]="loginInfo.Phone.invalid && loginInfo.Phone.touched" formControlName="Phone"  class="fadeIn form-control" placeholder="phone number">
      </div>
      <div class="form-group">
        <input type="password" [class.is-invalid]="loginInfo.Password.invalid && loginInfo.Password.touched" formControlName="Password"  class="fadeIn form-control" placeholder="password">
      </div>
      <input type="submit" class="fadeIn bttonRegister" value="LOG IN">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>